{% extends "dev/base.html" %}
{% block content %}
    <div class="about">
        <div class="about-content">
        <h2><b><u>Welcome to Dev Journey!</u></b></h2>
        <br>
        <p>The journey towards becoming a developer for most people is characterized by blood, sweat and tears. <br>
            This platform allows users to share their journey, the good and the bad, in a bid to point others in the right direction by helping
            them find helpful resources, encouraging each other and ultimately becoming part of the community.
            <br>
        </p>
        <br>
        <h4><b>Inspire! Educate! Motivate!</b></h4>
        </div>
    </div>
{% endblock %}