{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title> DevJourney </title>
    
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- Medium style Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Google fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">

</head>

<body>
    <!-- Navbar -->
    <nav class=" navbar navbar-default techfont">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand bigbrand" href="{% url 'post_list' %}">Dev Journey</a></li>
                <li><a href="{% url 'about' %}"></a>About</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'post_new' %}">New Post</a>
                </li>
                <li>
                    <a href="{% url 'post_draft_list' %}">Drafts</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                    <a> Welcome {{ user.username }}</a>
                </li>
                {% else %}
                <li><a class="nav navbar-right" href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span></a></li>
                
                {% endif %}

            </ul>            

        </div>
    </nav>

    <!-- content Block -->

    <div class="container content">
        <div class="row">
            <div class="col-md-8">
                <div class="devposts">
                    {% block content %}
                    {% endblock %}
                </div>

            </div>
        </div>

    </div>
 
</body>

</html> 