{% extends 'dev/base.html'%}
{% load bootstrap3 %}
{% block content %}
<div class="container text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% if form.errors %}
        <p>Please ensure your details are correct</p>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Sign up</h3>
            </div>
            <div class="panel-body">
                <form action="/accounts/register/" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                        <input type="submit" class="btn btn-info btn-sm" value="Sign Up">

                    </div>
                    <input type="hidden" name="next" value=" {{next}} ">
                </form>
                <p>Already have an account?
                    <a class="btn btn-info" href="/accounts/login/"> Log In </a> here
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}